<!-- Header -->
<header>
    <div id="main-page">
        <div class="container">
            <!-- Primary nav -->
            <nav class="primary-nav">
                <div class="main-logo"><a  href="#">Checkr &nbsp;&nbsp;&nbsp;</a></div>
                <!-- Drobdown menu products -->
                <div class="dropdown1">
                    <button class="dropbtn1"><b>PRODUCT &darr;</b><b class="caret"></b></button>
                    <div class="dropdown-content1">
                        <a href="#">Overview</a>
                        <a href="#">Screening</a>
                        <a href="#">Compliance</a>
                        <a href="#">Security</a>
                    </div>
                </div>
                <!-- Drop down menuStaffing -->
                <div class="dropdown1">
                    <button class="dropbtn1"><b>STAFFING &darr;</b><b class='caret'></b></button>
                    <div class="dropdown-content1">
                        <a href="#">Overview</a>
                    </div>
                </div>
                <!-- Drop down menuInudstries -->
                <div class="dropdown2">
                    <button class="dropbtn2"><b>INDUSTRIES &darr;</b><b class='caret'></b></button>
                    <div class="dropdown-content2">
                        <a href="#">Overview</a>
                        <a href="#">Contact Centers</a>
                        <a href="#">Retail & Hospitality</a>
                        <a href="#">Non-Profit</a>
                        <a href="#">Manufacturing</a>
                        <a href="#">Small Business</a>
                        <a href="#">Staffing</a>
                        <a href="#">Financial services</a>
                        <a href="#">Healthcare</a>
                        <a href="#">On-Demand Economy</a>
                        <a href="#">Software & Technology</a>
                        <a href="#">P2P Marketplaces</a>
                    </div>
                </div>
                <!-- Drop down menu resources -->
                <div class="dropdown3">
                    <button class="dropbtn3"><b>RESOURCES &darr;</b><b class='caret'></b></button>
                    <div class="dropdown-content3">
                        <a href="#">Overview</a>
                        <a href="#">Guide & Whitepaper</a>
                        <a href="#">FAQ</a>
                    </div>
                </div>
                <div class='dropdown1'>
                    <button class="dropbtn1"><b>COMPLIANCE</b></button>
                </div>
            </nav>
            <!-- side nav -->
            <div> 
                <!-- Top nav -->
                <nav class="top-nav">
                    <ul class="top-menu">
                        <li>
                            <a href="https://applicant.checkr.com/">I Am an Applicant</a>
                        </li>
                        <li>
                            <a href="https://docs.checkr.com/">API & Docs</a>
                        </li>
                        <li>
                            <a href="https://checkr.com/about/">About Us</a>
                        </li>
                        <li>
                            <a href="https://checkr.com/careers/">Careers</a>
                        </li>
                    </ul>
                </nav>
                <!-- Side nav -->
                <nav class="side-nav">
                    <ul class="right-menu">
                        <li>
                            <a href="https://dashboard.checkr.com/login?next=%2Freports"><b>LOG IN</b></a>
                        </li>
                        <li>
                            <a href="https://checkr.com/get-started" class="get-started"><b>GET STARTED ➔</b></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="second-part-main-page">
            <div class="second-part-main-page-part1">
                <h1>HIRE GREAT PEOPLE.</h1>
                <h1>FASTER.</h1>
                <p>Checkr provides modern and compliant background </p>
                <p>checks for global enterprises and startups.</p>
            </br>
            <button><b>EXPLORE NOW &nbsp; &rarr;</b></button>
        </div>
        <div class="second-part-main-page-part2"></div>
    </div> 
</div>
</header>

<!-- Partners -->
</br></br>
<section class="partners">
    <div>
        <h1>More Than 10,000 Businesses Trust Checkr for Their Background Screenings </h1>
    </div>
    <div><img src='https://image.noelshack.com/fichiers/2018/08/2/1519141173-firm3.jpeg' width='100'/> </div>
    <div><img src='https://image.noelshack.com/fichiers/2018/08/2/1519141173-firm1.png' width='100'/> </div>
    <div><img src='https://image.noelshack.com/fichiers/2018/08/2/1519140841-grubhub.png' width='100'/></div>
    <div><img src='https://image.noelshack.com/fichiers/2018/08/2/1519141065-postmates-logo.png' width='100'/></div>
    <div><img src='https://image.noelshack.com/fichiers/2018/08/2/1519141173-firm5.gif' width='100'/></div>
    <div><img src='https://image.noelshack.com/fichiers/2018/08/2/1519141065-lyft.png' width='100'/></div>
</section>
</br></br>

<!-- Explain offer -->
<section class="details-offer">
</br></br>

<div class="container2">
    <h1>The Next Generation of Background Checks</h1>
    <div class="container2-details-offer">

        <div class="content">
            <p><img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-mobile.svg"></p>
            <h3><strong>Mobile-Friendly</strong></h3>
            <p>Create a positive applicant experience with simple, mobile-friendly onboarding.</p>
        </div>

        <div class="content">
            <p><img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-computer_easy.svg"></p>
            <h3><strong>Easy to Understand</strong></h3>
            <p>Color-coded reports and an intuitive interface makes it possible to review information faster.</p>
            <a href='http://checkr.com/sample-report/'>See a sample employee background report.</a>
        </div>

        <div class="content">
            <p><img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-automation.svg"></p>
            <h3><strong>Convenient Automation</strong></h3>
            <p>Reports and violations are categorized to help you remain compliant with individual assessment requirements.</p>
        </div>

        <div class="content">
            <p><img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-communications.svg"></p>
            <h3><strong>Simplified and Compliant Communication</strong></h3>
            <p>Automated compliance tools allow you to send adverse action communications in seconds, directly from your dashboard.</p>
        </div>

        <div class="content">
            <p><img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-analytics.svg"></p>
            <h3><strong>Fast and Accurate</strong></h3>
            <p>Understand the profile of your applicants and find the best pool of candidates using integrated analytics and reports.</p>
        </div>
    </div>
</div>
</br></br>
</section>

<!-- Typology business -->
<section class="details-business">
</br></br>
<div class="container3">
    <h1>Tailored to Fit Your Industry’s Needs</h1></br>
    <div class="container3-details-business">

        <% (1..10).each do |i| %>

        <a href="https://checkr.com/industries/financial-services/" class="image-biz">
            <div class="img-blur-effect" style="background-image: url(https://checkr.com/wp-content/uploads/2015/10/checkr_home_financial2x.jpg);"></div>
            <div class="content-biz">
                <span class="title-business-details"> <b>FINANCIAL SERVICES &rarr;</b></span>
            </div>
            <div class="content-biz-hover hover">
                <span class="title-business-details-hover">Screening solutions that help protect critically sensitive data.</span>
            </div>
        </a>
        <% end %>

    </div>
</div>
</br></br>
</section>


<!-- Typology business -->
<section class="details-compliance">
</br></br>
<div class="container5">
    <h1>Best in Class Compliance and Security</h1>
    <div class="container5-details-compliance">

        <div class="content-b">
            <h3><i class="fa fa-search"></i> <span>Screenings</span></h3>
            <ul>
                <li>Criminal Records</li>
                <li>Driving Records</li>
                <li>Employment Verifications</li>
                <li>International Verifications</li>
                <li>Drug screening</li>
            </ul>
            <div><a href="#">REVIEW ALL OF CHECKR’S SCREENING SERVICES &rarr;</a></div>
        </div>
        <div class="content-v">
            <h3><i class="fa fa-user"></i> <span>Compliance</span></h3>
            <ul>
                <li>Compliant with state and federal laws, including FCRA</li>
                <li>NAPBS accreditation</li>
                <li>Experienced in-house compliance and investigation team</li>
            </ul>
            <div><a href="#">REVIEW ALL OF CHECKR’S SCREENING SERVICES &rarr;</a></div>
        </div>
        <div class="content-y">
            <h3><i class="fa fa-lock"></i> <span>Security</span></h3>
            <ul>
                <li>Data encrypted using bank-grade standards</li>
                <li>Non-stop monitoring</li>
                <li>Infrastructure built for high availability</li>
            </ul>
            <div><a href="#">REVIEW ALL OF CHECKR’S SCREENING SERVICES &rarr;</a></div>
        </div>

    </div>
</div>
</br></br>
</section>

<section class='information'>
</br></br>
<h1>Information for Applicants</h1>
<div class='container6'>
    <div class='container6-1'>
        <h3>Checkr provides the support you deserve.</h3>
        <ul>
            <li>Responsive U.S.-based customer service</li>
            <li>Status tracking available through the applicant portal</li>
            <li>Support available by phone or email</li>
        </ul>
        <div><a href="#"><b>VISIT CHECKR'S APPLICANT PORTAL &rarr;</b></a></div>
    </div>

    <div class='container6-2'>
        <p>“Fortes ratione et suae opperiens armatos iussit et stridens attoniti et Gallus quavis dentium starent periclitanti colligi periclitanti ratione quavis attoniti saluti quavis colligi et opperiens serpens vobiscum saluti acie.”</p>
        <span class='profil'>
            <img src="https://image.noelshack.com/fichiers/2018/08/2/1519145566-profil-rond.jpg" width='70'>
            <span>
                <b>???</b>
                <p>CCC applicant</p>
            </span>
        </span>
    </div>

</div>
</br></br>
</section>

<section>
<br></br>

    <div class='container7'>
        <div class='container7-1'>
            <img src='https://image.noelshack.com/fichiers/2018/08/2/1519150081-gto.jpg' width='300'>
        </div>

        <div class='container7-2'>
            <h1><b>Take a Tour</b></h1>
            <p>See why Checkr is the most reliable option for your background check needs.</p>
        </div>

        <div class='container7-3'>
            <button><b>SCHEDULE A DEMO &nbsp; &rarr;</b></button>
        </div>
    </div>
</section>

<section>
    <div class='container8'>
        <div class='container8-0'>
            <h4><b>PRODUCT</b></h4>
            <ul>
                <li><a href='#'>Overview</a></li>
                <li><a href='#'>Screenings</a></li>
                <li><a href='#'>Compliance</a></li>
                <li><a href='#'>Security</a></li>
                <li><a href='#'>API & Docs</a></li>
            </ul>
        </div>

        <div class='container8-1'>
            <h4><b>INDUSTRIES</b></h4>
            <ul>
                <li><a href='#'>Overview</a></li>
                <li><a href='#'>Contact Centers</a></li>
                <li><a href='#'>Financial Services</a></li>
                <li><a href='#'>Retail & Hospitality</a></li>
                <li><a href='#'>Healthcare</a></li>
                <li><a href='#'>Non-Profit</a></li>
                <li><a href='#'>On-Demand Economy</a></li>
                <li><a href='#'>Manufacturing</a></li>
                <li><a href='#'>Software & Technology</a></li>
                <li><a href='#'>Small Business</a></li>
                <li><a href='#'>P2P Marketplaces</a></li>
                <li><a href='#'>Higher Education</a></li>
                <li><a href='#'>Staffing</a></li>
            </ul>
        </div>

        <div class='container8-2'>
            <h4><b>RESOURCES</b></h4>
            <ul>
                <li><a href='#'>Overview</a></li>
                <li><a href='#'>White Papers</a></li>
                <li><a href='#'>FAQ</a></li>
                <li><a href='#'>Blog</a></li>
                <li><a href='#'>Engineering Blog</a></li>
                <li><a href='#'>Applicant Portal</a></li>
            </ul>
        </div>

        <div class='container8-3'>
            <h4><b>COMPANY</b></h4>
            <ul>
                <li><a href='#'>Partners</a></li>
                <li><a href='#'>Partner Lead Portal</a></li>
                <li><a href='#'>About Us</a></li>
                <li><a href='#'>Bounce Back to Work</a></li>
                <li><a href='#'>Careers</a></li>
                <li><a href='#'>Press</a></li>
            </ul>
        </div>

        <div class='container8-4'>
            <h4><b>CONNECT</b></h4>
            <ul>
                <li><a href='#'>hello@checkr.com</a></li>
                <li><a href='#'>Contact Us</a></li>
                <li><a href='#'>Get Started</a></li>
                <li><a href='#'>Log In</a></li>
            </ul>
            <div class='social'>
                <a href='#'>
                    <img src='https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/01/icon_twitter.svg'>
                </a>
                <a href='#'>
                    <img src='https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/01/facebook.svg'>
                </a>
                <a href='#'>
                    <img src='https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/01/linkedin.svg'>
                </a>
                <a href='#'>
                    <img src='https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/01/instagram.svg'>
                </a>
                <a href='#'>
                    <img src='https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2016/01/angellist.svg'>
                </a>
            </div>
        </div>
    </div>
</section>