// FIRST PART Main page //

#main-page {
background-size: cover;
/*background-color: #366696;*/
width:100%;

}

//Header organisation
header {
background-image: url(https://image.noelshack.com/fichiers/2018/08/2/1519138581-background2.jpg);
background-size: 100% 100%;
background-repeat: no-repeat;
margin: -10px;
}
header nav {
display: flex;
}

.container {
width: 90%;
margin: 0px auto;
display: flex;
flex-wrap: wrap;
.primary-nav{flex-grow: 6}
.top-nav{flex-grow: 6}
.side-nav{flex-grow: 6}
}

.main-logo {
font-family: "proxima-nova",sans-serif;
font-size: 2em;
font-weight: bold;
color:white;
a:hover,a:visited,a:link{
color:white;
text-decoration: none;
};
}

// top nav bar //

.top-nav {
margin-right: 200px;
font-size:0.8em;
width: 100%;

ul {
list-style-type: none;
margin-right: 0;
padding: 0;
overflow: hidden;
}
li {
float: left;}
li a {
font-weight: 400;
display: block;
color: white;
text-align: center;
padding: 5px 15px;
text-decoration: none;}
li a:hover {
color:#DDD;}
}

// //
.side-nav {
font-size:0.9em;
margin-left: 110px;
font-weight: 400;
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
float:right;}
li {
float: left;
padding: 10px 15px;}
li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;}
li a:hover {color:#DDD;}
.get-started {
color: #edd72f;
border: 2px solid orange;
border-radius: 7%;
border-color: #E9CA2C;
padding-left: 20px;
padding-right: 20px;
&:hover {background-color:#E9CA2C;
color: black;
}
}
}
// Dropdown menu nav bar//

.primary-nav {
margin-top: 50px;
padding-top: 15px;
float:left;
display:flex;
justify-content: flex-end;
}

.primary-nav button span {
vertical-align: top;
margin-top: 2px;
}

/* Dropdown Button */
.dropbtn1, .dropbtn2, .dropbtn3 {
background-color: transparent;
color: white;
padding: 16px;
font-size: 14px;
border: none;
cursor: pointer;
text-align: center;
}

/* Dropdown arrow*/

.arrow-dropdown {
display: inline-block;
width: 8px;
height: 5px;
margin-left: 3px;}

/* The container <div> - needed to position the dropdown content */
.dropdown1, .dropdown2, .dropdown3 {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content1, .dropdown-content2, .dropdown-content3 {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content1 a, .dropdown-content2 a, .dropdown-content3 a{
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;}

/* Change color of dropdown links on hover */
.dropdown-content1 a:hover, .dropdown-content2 a:hover, .dropdown-content3 a:hover  {color: #5c8ebf}

/* Show the dropdown menu on , hover */
.dropdown1:hover .dropdown-content1, .dropdown2:hover .dropdown-content2, .dropdown3:hover .dropdown-content3 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown1:hover .dropbtn1, .dropdown2:hover .dropbtn2, .dropdown3:hover .dropbtn3 {color: #DDD;}



// Second part top Main page //

.second-part-main-page {
margin-top: -100px;
padding-left: 320px;
display: flex;
width: 90%;
margin: 0px auto;
color:white;
.second-part-main-page-part1 {
padding-top: 120px;
padding-bottom: 250px;
button{
font-size: 1em;
display: flex;
text-align: center;
padding: 18px 36px;
color:#444;
background-color: #edd72f;
border: 2px solid #edd72f;
border-radius: 7%;
&:hover{
background-color: #d3bf2a;
border: 2px solid #d3bf2a;
};
}
}
.second-part-main-page-part2 {
flex-grow: 1;
margin-top: 22px;
margin-left: 188px;
background-image: url(https://i.redd.it/dsqfzgm8blez.gif);
background-size: 58% 100%;
background-repeat: no-repeat;
}
}

// SECOND PART Main page //

.partners {
justify-content: center;
width: 100%;
display: grid;
grid-template-rows: 100px;
grid-template-columns: auto;
grid-column-gap: 1%;
div:nth-child(1){
grid-column:1/7;
grid-row:1/2;
text-align: center;
}
div:nth-child(2){
grid-column:1/2;
grid-row:3/4;
display: flex;
align-items: center;
}
div:nth-child(3){
grid-column:2/3;
grid-row:3/4;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}
div:nth-child(4){
grid-column:3/4;
grid-row:3/4;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}
div:nth-child(5){
grid-column:4/5;
grid-row:3/4;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}
div:nth-child(6){
grid-column:5/6;
grid-row:3/4;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}
div:nth-child(7){
grid-column:6/7;
grid-row:3/4;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}
}

// THIRD PART Main page //

.details-offer {
background-color: #f4f9fc;
border-bottom: 1px solid #AAA;
border-top: 1px solid #AAA;
.container2 {
text-align: center;
width:80%;
margin: 0 auto;
color: #222;}
.container2-details-offer {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
.content {
flex: 0 0 28%;
padding: 2%;
a {
text-decoration: none;
color: #6CC496;
}
}
.content p {
text-align: center;
color: #777;
}
}

// Fourth part main page //

.details-business {
.container3 {
text-align: center;
width:90%;
margin: 0 auto;
color: #222;}
.container3-details-business {
width: 100%;
height: 100%;
display: flex;
flex-wrap: wrap;
a {
background: url("https://checkr.com/wp-content/uploads/2015/10/checkr_home_financial2x.jpg");
background-size: cover;
flex: 0 0 calc( 23% - 0.75em );
overflow: hidden;
opacity: 1;
width: 100%;
height: 100%;
position: relative;
height: 190px;
filter: saturate(70%);
margin: 1% 1%;
&:before {
content: '';
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-image: linear-gradient(to bottom,#FFF,#666);
opacity: .4; 
}
}
a:hover{
.img-blur-effect {opacity: 1}
.content-biz {opacity: 0}
.hover {opacity: 1}
}
.img-blur-effect {

width: 110%;
height: 110%;
background: 50% 50% / cover no-repeat;
filter: blur(3px);
opacity: 0;
position: absolute;
text-decoration: none;}
.content-biz {
position: absolute;
top: 0;
left: 0;
right: 0;
width: 100%;
height: 100%;
color: white;
opacity: 1;
}
.content-biz-hover {
position: absolute;
top: 0;
left: 0;
right: 0;
width: 100%;
height: 100%;
color: white;
opacity: 0;
}
.title-business-details{
text-align: center;
position: absolute;
bottom: 2.5%;
left: 5%;
right: 5%;
width: 90%;
font-size: 0.8rem;
font-family: "proxima-nova",sans-serif;
line-height: 1.333333333;
}
span {
font-size: 1.6rem;
width: 90% !important;
display: block;
font-weight: 500;
}
.hover {
padding: 5%;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
opacity: 0;
background-color: rgba(0, 122, 204, 0.8);
}
}
}

// Fifth part main page //

.details-compliance {
background-color: #f4f9fc;
border-bottom: 1px solid #AAA;
border-top: 1px solid #AAA;
.container5 {
text-align: center;
width:80%;
margin: 0 auto;
color: #222;}
.container5-details-compliance {
display: flex;
flex-wrap: wrap;
align-items: top;
justify-content: center;
}

.content-b {
flex: 0 0 30%;
margin: 1%;
background-color: white;
border: 1px solid #DDD;
border-bottom-width:3px;
border-bottom-color: blue;
border-bottom-style: solid;

h3 {
text-align: left;
padding-left: 5%;
vertical-align: middle;
height: 35px;
i {
font-size: 35px;
color: black;
}
span {
line-height: 35px;
vertical-align: top;
}
}
ul {
text-align: left;
margin-left: 10%;
color: #777;
font-weight: 500;
line-height: 1.8em;
height: 50%;
}
div{
padding-left: 5%;
padding-right: 5%;
padding-bottom: 5%;
line-height: 1.8em;
width: 70%;
height: 20%;
margin-bottom: 5%;


a{
color: #407cbc;
text-decoration: none;
font-weight: 400;
font-size: 1em;
}
i {
color:#407cbc;
float: right;
} 

}
}

.content-v {
flex: 0 0 30%;
margin: 1%;
background-color: white;
border: 1px solid #DDD;
border-bottom-width:3px;
border-bottom-color: green;
border-bottom-style: solid;

h3 {
text-align: left;
padding-left: 5%;
vertical-align: middle;
height: 35px;
i {
font-size: 35px;
color: black;
}
span {
line-height: 35px;
vertical-align: top;
}
}
ul {
text-align: left;
margin-left: 10%;
color: #777;
font-weight: 500;
line-height: 1.8em;
height: 50%;
}
div{
padding-left: 5%;
padding-right: 5%;
padding-bottom: 5%;
line-height: 1.8em;
width: 70%;
height: 20%;
margin-bottom: 5%;


a{
color: #407cbc;
text-decoration: none;
font-weight: 400;
font-size: 1em;
}
i {
color:#407cbc;
float: right;
} 

}
}

.content-y {
flex: 0 0 30%;
margin: 1%;
background-color: white;
border: 1px solid #DDD;
border-bottom-width:3px;
border-bottom-color: yellow;
border-bottom-style: solid;

h3 {
text-align: left;
padding-left: 5%;
vertical-align: middle;
height: 35px;
i {
font-size: 35px;
color: black;
}
span {
line-height: 35px;
vertical-align: top;
}
}
ul {
text-align: left;
margin-left: 10%;
color: #777;
font-weight: 500;
line-height: 1.8em;
height: 50%;
}
div{
padding-left: 5%;
padding-right: 5%;
padding-bottom: 5%;
line-height: 1.8em;
width: 70%;
height: 20%;
margin-bottom: 5%;


a{
color: #407cbc;
text-decoration: none;
font-weight: 400;
font-size: 1em;
}
i {
color:#407cbc;
float: right;
} 

}
}

}

h1 {
text-align: center;
}
.second-part-main-page-part1 h1 {
text-align: left;
}

.container6 {
display: flex;
justify-content: space-around;
align-items: center;

.container6-1 {
padding-left: 20%;
width: 50%;
h3 {
text-align: left;
height: 35px;
}
ul {
text-align: left;
color: #777;
font-weight: 500;
line-height: 1.8em;
height: 50%;
}

div{
a{
color: #407cbc;
text-decoration: none;
font-weight: 400;
font-size: 1em;
}
line-height: 1.8em;
height: 20%;
}
}

.container6-2 {
padding-right: 20%;
margin-top: 50px;
width: 50%;
p {
text-align: left;
color: #777;
font-weight: 500;
line-height: 1.8em;
height: 50%;
}
.profil {
display: flex;
justify-content: flex-start;
align-items: center;
span {
padding-top: 15px;
p{
margin-top: -5px;
}
}

}
}

}

.container7 {
padding-top: 3%;
padding-left: 18%;
padding-right: 18%;
background-image: url(https://image.noelshack.com/fichiers/2018/08/2/1519151188-blue-background2.jpeg);
background-size: 100% 100%;
background-repeat: no-repeat;
display: flex;
justify-content: space-around;
align-items: center;

.container7-1 {

}

.container7-2 {
padding-left: 8%;
padding-right: 8%;
margin-top: -25px;
h1 {
font-size: 2em;
text-align: left;
color: white;
}
p {
color: white;
}
}

.container7-3 {
button {
width: 140%;
margin-left: -20px;
font-size: 1em;
display: flex;
text-align: center;
padding: 18px 36px;
color: white;
background-color: rgb(16, 37, 51);
border: 2px solid black;
border-radius: 7%;
}
}
}

.container8 {
padding-left: 18%;
padding-right: 18%;
padding-top: 100px;
background-color: rgb(16, 37, 51);
display: flex;
justify-content: space-between;
position: relative;
ul {
list-style: none;
margin: 0;
width: 100%;
li {
margin-bottom: 10px;
margin-left: -40px;
a {
text-decoration: none;
color: white;
}
a:hover {
text-decoration: underline;
text-decoration-color: rgb(0, 153, 204);
}
}
}
h4 {
color: #8FA1B2;
text-transform: uppercase;
font-size: 14px;
font-weight: 700;
letter-spacing: 2px;
margin-bottom: 10px;
padding-bottom: 12px;
border-bottom: 1px solid #3d4d56;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: rgb(61, 77, 86);
}

.container8-0 {
flex: 0 0 11.61%;
}

.container8-1 {
flex: 0 0 32.14%;
ul {
display: flex;
flex-wrap: wrap;
li {
flex: 0 0 48%;
margin-right: 40px;
}
}
}

.container8-2 {
flex: 0 0 11.61%;
}

.container8-3 {
flex: 0 0 11.61%;
}

.container8-4 {
flex: 0 0 11.61%;
.social {
a {
display: inline-block;
margin-right: 6px;
margin-bottom: 10px;
}
img {
max-height: 15px;
width: 16px;
}
}
}
}